name: build-test

on:
  pull_request:
  push:
    paths-ignore:
    - "README.md"
    branches:
      - master
      - releases/*

jobs:
  build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest,windows-latest]
        lazarus-versions: [dist, 2.0.6, 1.6.4, 1.6.2]
    steps:
    - uses: actions/checkout@v2
    - name: Install Lazarus
      uses: gcarreno/setup-lazarus@v2.1
      with:
        lazarus-version: ${{ matrix.lazarus-versions }}
    - name: Build the Main Application
      run: lazbuild "axe.lpi"
#    - name: Build the Unit Tests Application
#      run: lazbuild "tests/testconsoleapplication.lpi"
#    - name: Run the Unit Tests Application
#      run: bin/testconsoleapplication "--all" "--format=plain"
